<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <style>
    html,
    body {
      height: 10%;
      width: 100%;
    }
  </style>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouSer</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/logo-app.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'fontawesome-free/css/all.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'css/chat-home.css' %}" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bg.json' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% block header %} {% endblock header %}
  </head>

  <body>
    <div class="page-bg"></div>

    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>

    <section class="navigation">
      <div class="nav-container">
        <div class="brand" style="padding-right: 200px">
          <form action="">
            <img src="{% static 'images\logo2.png' %}" width="15%" />
            <select class="select" name="city" id="">
              <option value="" disabled selected hidden>select location</option>
              {% for city in cities %}
              <option value="{{city.id}}">{{city}}</option>
              {% endfor %}
            </select>

            <input class="inpt" type="submit" value="Search" />
          </form>
        </div>
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
          </div>
          <ul class="nav-list {% if page == 'home' %} active {% endif %}">
            <li>
              <a href="#!"
                ><i class="fas fa-map-marker-alt"></i
                >&nbsp;&nbsp;{{user.profile.filter_city_id}}</a
              >
            </li>
            <li>
              <a href="{% url 'index' %}">Home</a>
            </li>

            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="{% url 'profile' %}">{{user.get_full_name}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <div class="container h-100">{% block content %}{% endblock content %}</div>
  </body>
  <script>
    $(function () {
      $("div.dataTables_length select").addClass("bg-dark");
    });
  </script>
  {% block footer %}{% endblock footer %}
</html>
