{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% static "images" as BaseUrl %}
<!--  -->
{% block css %}

    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\navbar.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
    
    {% endblock css %}
    <!--  -->
    {% block content %}
    <a href="{% url 'addpost' %}" class="float">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player
        src="{% static 'json/add-post.json' %}"
        background="transparent"
        speed="1"
        style="width: 60px; height: 60px"
        loop
        autoplay
      ></lottie-player>
      </a>
    <!--card1-->
    <section class="navigation  sticky">
      <div class="nav-container">
        <div class="brand">
          <img src="{% static 'images\logo2.png' %}" width="15%" >
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="#!"
                ><i class="fas fa-map-marker-alt"></i
                >&nbsp;&nbsp;{{user.profile.city}}</a
              >
            </li>
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="{% url 'chat-home' %}">Chat</a>
              
            </li>
           
            
            <li>
              <a href="#">About</a>
             
            </li>
            <li>
              <a href="{% url 'profile' %}"><i class="fa fa-user"></i>&nbsp;&nbsp;{{user.get_full_name}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <div class="card-container">
    {% for post in posts %}
<!-- loop start here ====================================================-->
    <div class="card">
     
      <div class="card-image"
      style="background: url('../media/{{post.image}}');"
      ></div>
      <div class="card-text">
        
        <h2>{{post.title}}</h2>
        
        <div class="badge">
          {{post.type}}
        </div>
      
        <p>{{post.desc}}</p>
        
        
        
      </div>
      <div class="created">
        <span class="owner">
          <b style="font-size:15px; " >
            {{post.created_by.get_full_name}}
          </b><br>
          <span class="date" style="font-size:13px; color: red; ">{{post.updated_at|date:"M d, Y" }}</span
          </span>
          
          <div class="button">
            {% if userId == post.created_by.id %}
            <button class="usercontact"onclick ="location.href = 'post/update-post/{{post.id}}';"> EDIT
              
              {% else %}
              <button class="usercontact"onclick ="location.href = 'chat/home/?u={{post.created_by_id}}';"> CONTACT     
                {% endif %}
                
              </button>
            </div>
          </div>
      </div>

      
      
      {% endfor %}
    </div>


      </div>
      <footer style="position: relative; bottom: 0; width: 100%">
        <!-- Copyright -->
        <br /><br />
        <div>
          © 2022 Copyright:
           YouSer
        </div>
        <!-- Copyright -->
      </footer>
{% endblock content %}
{% block script %}
<!-- <script src="{% static 'js/script.js' %}"></script> -->
<script>
  (function($) { // Begin jQuery
    $(function() { // DOM ready
      // If a link has a dropdown, add sub menu toggle.
      $('nav ul li a:not(:only-child)').click(function(e) {
        $(this).siblings('.nav-dropdown').toggle();
        // Close one dropdown when selecting another
        $('.nav-dropdown').not($(this).siblings()).hide();
        e.stopPropagation();
      });
      // Clicking away from dropdown will remove the dropdown class
      $('html').click(function() {
        $('.nav-dropdown').hide();
      });
      // Toggle open and close nav styles on click
      $('#nav-toggle').click(function() {
        $('nav ul').slideToggle();
      });
      // Hamburger to X toggle
      $('#nav-toggle').on('click', function() {
        this.classList.toggle('active');
      });
    }); // end DOM ready
  })(jQuery); // end jQuery
</script>
<script src="https://cdn.lordicon.com/lusqsztk.js"></script>
{% endblock script %}