{% extends 'base.html' %} {% load static %}

<title>Document</title>
{% block css %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>

<link
  rel="stylesheet"
  id="xo-google-fonts-css"
  href="http://fonts.googleapis.com/css?family=Montserrat%3A400italic%2C400#038;ver=cc0ca1022224db4641d9750cd65dfefc"
  type="text/css"
  media="all"
/>
{% endblock css %} {% block content %}
<div class="container" id="container">
  <div class="container-2">
    <div class="wrapper-login" id="myDIV">
      <div class="form-container sign-in-container">
        <form action="login" method="post">
          {% csrf_token %}
          <div>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player
              src="https://assets8.lottiefiles.com/packages/lf20_2nfmti0q.json"
              background="transparent"
              speed="1"
              style="width: 120px; height: 120px"
              loop
              autoplay
            ></lottie-player>
          </div>

          <h1>Log in</h1>
          <br />

          <input type="text" placeholder="username" name="username" />

          <div class="Icon-inside">
            <input
              type="password"
              placeholder="Password"
              name="password"
              value=""
              id="myInput"
            />
            <i class="uil uil-eye" onclick="myFunction3()"></i>
          </div>
          <a href="">Forgot your password?</a>

          <button name="login_form">Log In</button>
        </form>
      </div>
    </div>
    <div class="wrapper-signIn" id="myDIV1">
      <div class="form-container sign-in-container">
        <form action="signup" method="post">
          {% csrf_token %}
          <h1>Create Account</h1>

          <!--  -->
          {{ form.username }}
          <!--  -->
          {{ form.email }}
          <!--  -->
          {{ form.first_name}}
          <!--  -->
          {{form.last_name }}

          <div class="Icon-inside">
            {{ form.password1 }} {{ form.password2 }}
            <i class="uil uil-eye" onclick="myFunction4()"></i>
          </div>

          <button name="signup_form">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="" container-3>
        <div class="right-sign" id="r1">
          <div class="overlay-panel overlay-right">
            {% if messages %} {% for message in messages %}
            <h1>{{message}}</h1>
            <p>Wrong Password or username</p>
            {% endfor %} {% else %}
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            {% endif %}
            <button class="ghost" onclick="myFunction1()">Sign Up</button>
            <div class="logo">
              <a href="page.html"
                ><img
                  src="{% static 'images/logo.png' %}"
                  alt="youser"
                  width="128px"
              /></a>
            </div>
          </div>
        </div>
        <div class="right-log" id="r2">
          <div class="overlay-panel overlay-right">
            {% if messages %} {% for message in messages %}
            <h1>{{message}}</h1>
            <p>Enter details Properly</p>
            {% endfor %} {% else %}
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            {% endif %}
            <button class="ghost" onclick="myFunction2()">login</button>
            <div class="logo">
              <a href="page.html"
                ><img
                  src="{% static 'images/logo.png' %}"
                  alt="youser"
                  width="128px"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
{% endblock content %} {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock scripts %}
