{% extends 'base.html' %}
<!--  -->
{% load widget_tweaks %}
<!--  -->
{% load static %}
<!--  -->
{% static "images" as BaseUrl %}
<!--  -->
{% block css %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
{% endblock css %}
<!--  -->
{% block content %}
<div class="container" id="container">
  <div class="picture">
    <div class="dp-img">
      <img src="{{ user.profile.image.url }}" />
    </div>
    <button class="ghost">UPLOAD NEW IMAGE</button>
    {% render_field p_form.image type="file" class="ghost upload" %}
  </div>
  <div class="info">
    <form
      method="POST"
      enctype="multipart/form-data"
      id="profileForm"
      data-states-url="{% url 'ajax_load_cities' %}"
    >
      {% csrf_token %}

      <!-- ============================= -->
      <div>
        <h2>USER NAME</h2>
        <div class="Icon-inside">
          <div>
            {% render_field u_form.username type="text" %}
            <i class="uil uil-pen"></i>
          </div>
          <hr />
        </div>
      </div>
      <!-- ============================= -->
      <div>
        <h2>E MAIL</h2>
        <div class="Icon-inside">
          <div>
            {% render_field u_form.email type="email" %}

            <i class="uil uil-pen"></i>
          </div>
          <hr />
        </div>
      </div>
      <!-- ============================= -->
      <div>
        <h2>FIRST NAME</h2>
        <div class="Icon-inside">
          <div>
            {% render_field u_form.first_name type="text" %}

            <i class="uil uil-pen"></i>
          </div>
          <hr />
        </div>
      </div>
      <!-- ============================= -->
      <div>
        <h2>LAST NAME</h2>
        <div class="Icon-inside">
          <div>
            <!--  -->
            {% render_field u_form.last_name type="text" %}

            <i class="uil uil-pen"></i>
          </div>
          <hr />
        </div>
      </div>
      <!-- ============================= -->
      <div>
        <h2>STATE</h2>
        <div class="labeldiv">
          <label for="cars" class="select1"></label>
          {% render_field p_form.state|add_class:"drop" %}
          <!--  -->
        </div>
        <hr />
      </div>
      <!-- ============================= -->
      <div>
        <h2>CITY</h2>
        <div class="labeldiv">
          <label for="cars" class="select1"></label>
          {% render_field p_form.city|add_class:"drop" %}
        </div>
        <hr />
      </div>
      <!-- ============================= -->
      <div class="info-btns">
        <button class="info-btn" type="submit">save</button>

        <button class="info-btn" onclick="location.href='{% url 'logout' %}'">
          log out
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_state").change(function () {
    const url = $("#profileForm").attr("data-states-url"); // get the url of the `load_cities` view
    const stateId = $(this).val(); // get the selected state ID from the HTML input

    $.ajax({
      // initialize an AJAX request
      url: url, // set the url of the request (= /persons/ajax/load-cities/ )
      data: {
        state_id: stateId, // add the state id to the GET parameters
      },
      success: function (data) {
        // `data` is the return of the `load_cities` view function
        //$("#id_city").html(data); // replace the contents of the city input with the data that came from the server

        let html_data = '<option value="">---------</option>';
        data.forEach(function (city) {
          console.log(city);
          html_data += `<option value="${city.id}">${city.name}</option>`;
        });
        $("#id_city").html(html_data);
      },
    });
  });
</script>
{% endblock scripts %}
