{% extends 'base.html' %}
<!--  -->
{% load static %}
{% load widget_tweaks %}
<!--  -->
{% static "images" as BaseUrl %}
<!--  -->
{% block css %}
    <meta charset="utf-8">
    <title>YouSer</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    {% endblock css %}
    <!--  -->
    {% block content %}


    <div class="container">
      <div class="wrapper">
        <section class="post">
          <header>{{form.title.value }}</header>
          <form
          class="form-horizontal form_middle"
          enctype="multipart/form-data"
          action=""
          method="post"
        >
            {% csrf_token %}
            <div class="content">
           
              <div class="details">
            </div>
            </div>
            
            <div class="input-box">
              <label for="id_title">title</label>
              {% render_field form.title type="text" placeholder="Title of your post" %}

             
             </div>
             <label for="id_desc">description</label>

            {% render_field form.desc type="text" placeholder="Description" %}
            
            <div class="selection">

            {% render_field form.type|add_class:"option dot" type="radio" name="select" %}


           
             </div>
            
 
              
              </select></label>
              
           
                <div class="file-upload-wrapper" data-text="Select Image To Change">
                
                  {% render_field form.image type="file" class="file-upload-field" %}
                </div>
              
            
                <div class="btns">
                  <button type="submit">update</button>
                  <a href="{% url 'delete_post' pk %}"><button disabled><a href="{% url 'delete_post' pk %}">Delete</a></button></a>
                </div>
              </form>
            </section>
            
            {% endblock content %}
            {% block script %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="{% static 'js/create.js' %}"></script>      
        {% endblock script %}